<!DOCTYPE html>
<html class="js">

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/main.css" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,400" />
  <script>
    (function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2")})(document,window,0);
  </script>
</head>

<body cz-shortcut-listen="true">
  {{{body}}}
  <script src="/javascripts/index.js"></script>
</body>

</html>